<div id="index">
	<h2>Index</h2>
	
	<ul>
	<% cur_letter = "0" %>
	<% hash = filter_results[:indexfilter] %>
	<% keys = hash.keys.sort {|x,y| x.downcase <=> y.downcase } %>

	<% keys.each do |key| %>
		
		<% if key[0].downcase != cur_letter.downcase %>
			<% cur_letter = key[0].upcase %>
			<li class="big-letter"><%= cur_letter %></li>
		<% end %>

		<li>
			<span class="index-term-name"><%= key %></span>
			
			<% unless hash[key][:children].size > 0 %>
				<% hash[key][:link_ids].each_with_index do |link_id, i| %>
					<a href="#<%= link_id %>" class="index-term-link">&nbsp;</a><% if i < hash[key][:link_ids].size - 1 %>,<% end %>
				<% end %>
			<% end %>

			<% unless hash[key][:children].empty? %>
				<% child_hash = hash[key][:children] %>
				<% child_keys = child_hash.keys.sort %>
				<ul>
					<% child_keys.each do |child_key| %>
						<li>
							<%= child_key %>
							<% child_hash[child_key][:link_ids].each_with_index do |child_link_id, j| %>
								<a href="#<%= child_link_id %>" class="index-term-link">&nbsp;</a><% if j < child_hash[child_key][:link_ids].size - 1 %>,<% end %>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</li>

	<% end %>
	</ul>

	<%#= filter_results[:indexfilter].inspect %>
	
</div>