<div id="index">
	<h2>Index</h2>
	
	<ul>
	<% cur_letter = "0" %>
	<% hash = filter_results[:indexfilter] %>
	<% keys = hash.keys.sort {|x,y| x.downcase <=> y.downcase } %>

	<% keys.each do |key| %>
		
		<% if key[0].downcase != cur_letter.downcase %>
			<% cur_letter = key[0].upcase %>
			<li class="big-letter"><%= cur_letter %></li>
		<% end %>

		<li>
			<span class="index-term-name"><%= hash[key][:elements].first.children.first.render_children(views, filter_results) %></span>
		
			<% hash[key][:elements].each_with_index do |el, i| %><span class="index-link"><% if i > 0 %>,<% end %><a href="#<%= el.link_id %>" class="index-term-link">&nbsp;</a></span><% end %>	

			<% unless hash[key][:children].empty? %>
				<% child_hash = hash[key][:children] %>
				<% child_keys = child_hash.keys.sort %>
				<ul>
					<% child_keys.each do |child_key| %>
						<li>
							<span class="index-term-name"><%= child_hash[child_key][:elements].first.children.last.render_children(views, filter_results) %></span>
							
							<% child_hash[child_key][:elements].each_with_index do |child_el, j| %><span class="index-link"><% if j > 0 %>,<% end %><a href="#<%= child_el.link_id %>" class="index-term-link">&nbsp;</a></span>
							<% end %>
						</li>
					<% end %>
				</ul>
			<% end %>
		</li>

	<% end %>
	</ul>

	<%#= filter_results[:indexfilter].inspect %>
	
</div>